<a href="https://colab.research.google.com/github/MrCherveN/DataAnalist-7-0_HomeTasks/blob/main/hw_3_4_apply%2C_groupby%2C_pivot_table.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#–î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [37]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [38]:
import pandas as pd

In [28]:
df = pd.read_csv('/content/drive/MyDrive/Python/–ê–Ω–∞–ª—ñ—Ç–∏–∫ 7-0/–õ–µ–∫—Ü–∏–∏/–ú–æ–¥—É–ª—å 3/data/supermarket_sales.csv')

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [39]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB

In [40]:
#–≤–∞—Ä—ñ–∞–Ω—Ç 1
df.groupby('Branch')['gross income'].sum().sort_values(ascending= False).head(1)

Branch
C    5265.1765
Name: gross income, dtype: float64

In [41]:
#–≤–∞—Ä—ñ–∞–Ω—Ç 2
branch_gross_income = df.groupby('Branch')['gross income'].sum()
print(f"–ù–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º —î —Ñ—ñ–ª—ñ–∞–ª '{branch_gross_income.idxmax()}' –∑ —Å—É–º–∞—Ä–Ω–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º {branch_gross_income.max()}." )

–ù–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º —î —Ñ—ñ–ª—ñ–∞–ª 'C' –∑ —Å—É–º–∞—Ä–Ω–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º 5265.1765.

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

In [42]:
#–≤–∞—Ä—ñ–∞–Ω—Ç 1
df.groupby(['City','Branch'])['gross income'].sum().sort_values(ascending= False).head(1)

City       Branch
Naypyitaw  C         5265.1765
Name: gross income, dtype: float64

In [43]:
branch_city_gross_income = df.groupby(['City','Branch'])['gross income'].sum()
branch_city_gross_income

City       Branch
Mandalay   B         5057.0320
Naypyitaw  C         5265.1765
Yangon     A         5057.1605
Name: gross income, dtype: float64

In [44]:
#–≤–∞—Ä—ñ–∞–Ω—Ç 2
branch_city_gross_income = df.groupby(['City','Branch'])['gross income'].sum()

print(f"–§—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º –∑–Ω–∞—Ö–æ–¥–∏—Ç—å—Å—è –≤ –º—ñ—Å—Ç—ñ '{branch_city_gross_income.idxmax()[0]}' –∑ —Å—É–º–∞—Ä–Ω–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º {branch_city_gross_income.max()}." )

–§—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º –∑–Ω–∞—Ö–æ–¥–∏—Ç—å—Å—è –≤ –º—ñ—Å—Ç—ñ 'Naypyitaw' –∑ —Å—É–º–∞—Ä–Ω–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º 5265.1765.

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [45]:
invoices_by_category  = df.pivot_table(index='Branch', columns='Product line', values='Invoice ID',  aggfunc='count')

In [46]:
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. –í–∏–∫—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [47]:
print(f"–ù–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó 'Electronic accessories' –∑–¥—ñ–π—Å–Ω–µ–Ω–æ –≤ —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É:'{invoices_by_category['Electronic accessories'].idxmax()}'.")
print(f"–ó–∞–≥–∞–ª—å–Ω–∞ –∫–∞–ª—å–∫—ñ—Å—Ç—å —Ü–∏—Ö —ñ–Ω–≤–æ–π—Å—ñ–≤ —Å—Ç–∞–Ω–æ–≤–∏—Ç—å {invoices_by_category['Electronic accessories'].max()} —à—Ç—É–∫.")

–ù–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó 'Electronic accessories' –∑–¥—ñ–π—Å–Ω–µ–Ω–æ –≤ —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É:'A'.
–ó–∞–≥–∞–ª—å–Ω–∞ –∫–∞–ª—å–∫—ñ—Å—Ç—å —Ü–∏—Ö —ñ–Ω–≤–æ–π—Å—ñ–≤ —Å—Ç–∞–Ω–æ–≤–∏—Ç—å 60 —à—Ç—É–∫.

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

**–ö—Ä–æ–∫ 1**
1. –Ø–∫–∏–π —Ä–æ–∑–ø–æ–¥—ñ–ª –ø–æ "Product line" —Ç–∞  "Gender" –ø–æ–∫—É–ø—Ü—ñ–≤ –ø–æ –∫—ñ–ª—å–∫–æ—Å—Ç—ñ –ø–æ–∫—É–ø–æ–∫ —Ç–∞ –∑–∞ –ø–æ–∫–∞–∑–Ω–∏–∫–æ–º –≤–∞–ª–æ–≤–æ–≥–æ –¥–æ—Ö–æ–¥—É –∑ —ó—Ö –ø—Ä–æ–¥–∞–∂—ñ–≤? –ß–∏ —î –∑–∞–ª–µ–∂–Ω—ñ—Å—Ç—å –º—ñ–∂ —Ç–∏–ø–æ–º —Ç–æ–≤–∞—Ä—É —Ç–∞ –≥–µ–Ω–¥–µ—Ä–æ–º? –Ø–∫–∞ —Ç—Ä—ñ–π–∫–∞ –ª—ñ–¥–µ—Ä—ñ–≤ –≥—Ä—É–ø —Ç–æ–≤–∞—Ä—ñ–≤ –ø–æ –∫–æ–∂–Ω–æ–º—É –∑ "Gender" –∑–∞ –ø–æ–∫–∞–∑–Ω–∏–∫–æ–º –≤–∞–ª–æ–≤–æ–≥–æ –¥–æ—Ö–æ–¥—É –∑ —ó—Ö –ø—Ä–æ–¥–∞–∂—ñ–≤.

2. –Ø–∫–∏–π —Ä–æ–∑–ø–æ–¥—ñ–ª –ø–æ "Product line" —Ç–∞ "Customer type" –ø–æ–∫—É–ø—Ü—ñ–≤ –ø–æ –∫—ñ–ª—å–∫–æ—Å—Ç—ñ –ø–æ–∫—É–ø–æ–∫ —Ç–∞ –∑–∞ –ø–æ–∫–∞–∑–Ω–∏–∫–æ–º –≤–∞–ª–æ–≤–æ–≥–æ –¥–æ—Ö–æ–¥—É –≤ —Ä–æ–∑—Ä—ñ–∑—ñ Branch? –ß–∏ —î –∑–∞–ª–µ–∂–Ω—ñ—Å—Ç—å –º—ñ–∂ —Ç–∏–ø–æ–º —Ç–æ–≤–∞—Ä–∞ —Ç–∞ —Ç–∏–ø–æ–º –∫–ª—ñ—î–Ω—Ç–∞?

3. –Ø–∫–∏–π —Ä–æ–∑–ø–æ–¥—ñ–ª —Å–µ—Ä–µ–¥–Ω—å–æ–≥–æ –∑–Ω–∞—á–µ–Ω–Ω—è "Rating" –ø–æ "Gender" —Ç–∞ "Customer type" –≤ —Ä—ñ–∑–Ω–∏—Ö –º—ñ—Å—Ç–∞—Ö? –ß–∏ —î —è–∫–∞—Å—å –∑–∞–ª–µ–∂–Ω—ñ—Å—Ç—å –≤ —Ü—å–æ–º—É?

In [50]:
#–ö—Ä–æ–∫ 2.

#–ü–∏—Ç–∞–Ω—è –ø–æ –ø.1 –∑ –ö—Ä–æ–∫—É 1

#–Ø–∫–∏–π —Ä–æ–∑–ø–æ–¥—ñ–ª –ø–æ "Product line" —Ç–∞ "Gender" –ø–æ–∫—É–ø—Ü—ñ–≤ –ø–æ –∫—ñ–ª—å–∫–æ—Å—Ç—ñ –ø–æ–∫—É–ø–æ–∫
product_line_gender = pd.pivot_table(df, index=['Product line'], columns=['Gender'], values=['Invoice ID'], aggfunc= 'count')
product_line_gender.loc['Total count'] = product_line_gender.sum(numeric_only=True).values
product_line_gender = product_line_gender.rename(columns= {'Invoice ID' : 'Count'})
product_line_gender

                        Count
Gender                 Female Male
Product line
Electronic accessories     84   86
Fashion accessories        96   82
Food and beverages         90   84
Health and beauty          64   88
Home and lifestyle         79   81
Sports and travel          88   78
Total count               501  499

In [51]:
#–Ø–∫–∏–π —Ä–æ–∑–ø–æ–¥—ñ–ª –ø–æ "Product line" —Ç–∞ "Gender" –ø–æ–∫—É–ø—Ü—ñ–≤ –∑–∞ –ø–æ–∫–∞–∑–Ω–∏–∫–æ–º –≤–∞–ª–æ–≤–æ–≥–æ –¥–æ—Ö–æ–¥—É –∑ —ó—Ö –ø—Ä–æ–¥–∞–∂—ñ–≤
product_line_gender_income = pd.pivot_table(df, index=['Product line'], columns=['Gender'], values=['gross income'], aggfunc=['sum']).round(2)
product_line_gender_income.columns = product_line_gender_income.columns.droplevel([0,1])

product_line_gender_income

Gender                   Female     Male
Product line
Electronic accessories  1290.57  1296.93
Fashion accessories     1449.40  1136.60
Food and beverages      1579.57  1094.00
Health and beauty        883.86  1458.70
Home and lifestyle      1430.33  1134.53
Sports and travel       1360.70  1264.20

In [52]:
product_line_male = product_line_gender_income['Male'].sort_values(ascending=False).head(3)
product_line_male

Product line
Health and beauty         1458.70
Electronic accessories    1296.93
Sports and travel         1264.20
Name: Male, dtype: float64

In [53]:
product_line_female = product_line_gender_income['Female'].sort_values(ascending=False).head(3)
product_line_female

Product line
Food and beverages     1579.57
Fashion accessories    1449.40
Home and lifestyle     1430.33
Name: Female, dtype: float64

In [54]:
# –ü–∏—Ç–∞–Ω—è –ø–æ –ø.2 –∑ –ö—Ä–æ–∫—É 1

#–Ø–∫–∏–π —Ä–æ–∑–ø–æ–¥—ñ–ª –ø–æ "Product line" —Ç–∞ "Customer type" –ø–æ–∫—É–ø—Ü—ñ–≤ –ø–æ –∫—ñ–ª—å–∫–æ—Å—Ç—ñ –ø–æ–∫—É–ø–æ–∫ —Ç–∞ –∑–∞ –ø–æ–∫–∞–∑–Ω–∏–∫–æ–º –≤–∞–ª–æ–≤–æ–≥–æ –¥–æ—Ö–æ–¥—É –≤ —Ä–æ–∑—Ä—ñ–∑—ñ Branch
product_line_customer_type = pd.pivot_table(df, index=['Product line'], columns=[ 'Branch','Customer type'], values=['Invoice ID', 'gross income'], aggfunc={'Invoice ID' : 'count', 'gross income' : 'sum'}).round(2).astype(int)
product_line_customer_type.loc['Total'] = product_line_customer_type.sum(numeric_only=True).values
product_line_customer_type = product_line_customer_type.rename(columns={'Invoice ID': 'Number of Purchases', 'gross income': 'Total Income'})

product_line_customer_type

                       Number of Purchases                                     \
Branch                                   A             B             C
Customer type                       Member Normal Member Normal Member Normal
Product line
Electronic accessories                  31     29     27     28     20     35
Fashion accessories                     22     29     32     30     32     33
Food and beverages                      29     29     29     21     36     30
Health and beauty                       22     25     26     27     25     27
Home and lifestyle                      34     31     21     29     28     17
Sports and travel                       29     30     30     32     28     17
Total                                  167    173    165    167    169    159

                       Total Income
Branch                            A             B             C
Customer type                Member Normal Member Normal Member Normal
Product line
Electronic accessories          435    436    353    458    377    525
Fashion accessories             330    447    349    432    573    453
Food and beverages              422    394    448    275    621    509
Health and beauty               306    293    539    412    384    407
Home and lifestyle              597    469    369    465    364    297
Sports and travel               460    461    496    455    387    363
Total                          2550   2500   2554   2497   2706   2554

In [55]:
# –ü–∏—Ç–∞–Ω—è –ø–æ –ø.3 –∑ –ö—Ä–æ–∫—É 1

#–Ø–∫–∏–π —Ä–æ–∑–ø–æ–¥—ñ–ª —Å–µ—Ä–µ–¥–Ω—å–æ–≥–æ –∑–Ω–∞—á–µ–Ω–Ω—è "Rating" –ø–æ "Gender" —Ç–∞ "Customer type" –≤ —Ä—ñ–∑–Ω–∏—Ö –º—ñ—Å—Ç–∞—Ö?
reiting_customer_type = pd.pivot_table(df, index= ['City'], columns= ['Customer type', 'Gender'], values=['Rating'], aggfunc= "mean", fill_value=0)
reiting_customer_type.loc['Total'] = reiting_customer_type.mean(numeric_only=True).values

reiting_customer_type

                 Rating
Customer type    Member              Normal
Gender           Female      Male    Female      Male
City
Mandalay       6.885882  6.647500  6.866234  6.864444
Naypyitaw      7.117708  6.957534  7.204878  6.985714
Yangon         6.786250  7.194253  6.891358  7.197826
Total          6.929947  6.933096  6.987490  7.015995

**–ö—Ä–æ–∫ 3**

1. –ê–Ω–∞–ª—ñ–∑ —Ä–æ–∑–ø–æ–¥—ñ–ª—É –ø—Ä–æ–¥–∞–∂—ñ–≤ –∑–∞ –≥–µ–Ω–¥–µ—Ä–æ–º —Ç–∞ —Ç–∏–ø–æ–º —Ç–æ–≤–∞—Ä—É –¥–æ–ø–æ–º–æ–∂–µ –±—ñ–∑–Ω–µ—Å—É –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ —Ç–∏–ø–∏ —Ç–æ–≤–∞—Ä—ñ–≤ —è–≤–ª—è—é—Ç—å—Å—è —Ñ–∞–≤–æ—Ä–∏—Ç–∞–º–∏ –¥–ª—è –ø–æ–∫—É–ø—Ü—ñ–≤ –≤ –∑–∞–ª–µ–∂–Ω–æ—Å—Ç—ñ –≤—ñ–¥ —ó—Ö —Å—Ç–∞—Ç—ñ. –¢–æ–º—É –±—ñ–∑–Ω–µ—Å, –Ω–∞–ø—Ä–∏–∫–ª–∞–¥, –º–æ–∂–µ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞—Ç–∏ –¥–∞–Ω—É —ñ–Ω—Ñ–æ—Ä–º–∞—Ü—ñ—é –ø—Ä–∏ —Ä–æ–∑—Ä–æ–±—Ü—ñ –ø–µ–≤–Ω–∏—Ö —Ü—ñ–ª–µ—Å–ø—Ä—è–º–æ–≤–∞–Ω–∏—Ö (—Ç–æ–±—Ç–æ –±—ñ–ª—å—à –æ—Ä—ñ—î–Ω—Ç–æ–≤–∞–Ω–∏—Ö –Ω–∞ –ø–µ–≤–Ω—É –∞—É–¥–∏—Ç–æ—Ä—ñ—é) –ø—Ä–æ–≥—Ä–∞–º –ø—Ä–æ–¥–∞–∂—ñ–≤. –¶–µ –º–æ–∂–µ –≤–ø–ª–∏–Ω—É—Ç–∏ –Ω–∞ –∑–±—ñ–ª—å—à–µ–Ω–Ω—è –ø—Ä–æ–¥–∞–∂—ñ–≤ —Ç–æ–≤–∞—Ä—ñ–≤ –≤ –º–∞–π–±—É—Ç–Ω—å–æ–º—É.

2. –í –¥–∞–Ω–æ–º—É –≤–∏–ø–∞–¥–∫—É –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –¥–æ–ø–æ–º–æ–∂–µ –±—ñ–∑–Ω–µ—Å—É –æ–ø—Ç–∏–º—ñ–∑—É–≤–∞—Ç–∏ –ø—Ä–æ—Ü–µ—Å –∑–∞–º–æ–≤–ª–µ–Ω–Ω—è —Ç–∞ –∑–±–µ—Ä—ñ–≥–∞–Ω–Ω—è —Ç–æ–≤–∞—Ä—ñ–≤ –ø–µ–≤–Ω–æ—ó –≥—Ä—É–ø–∏ –¥–æ —ó—Ö –ø—Ä–æ–¥–∞–∂—É, —â–æ –º–æ–∂–ª–∏–≤–æ –≤–ø–ª–∏–Ω–µ –Ω–∞ –∑–º–µ–Ω—à–µ–Ω–Ω—è –≤–∏—Ç—Ä–∞—Ç –Ω–∞ –∑–±–µ—Ä—ñ–≥–∞–Ω–Ω—è –≤–µ–ª–∏–∫–æ—ó –∫—ñ–ª—å–∫–æ—Å—Ç—ñ —Ç–æ–≤–∞—Ä—ñ–≤ –∑ –º–∞–ª–∏–º –ø–æ–ø–∏—Ç–æ–º.

3. –í—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –¥–æ–ø–æ–º–æ–∂–µ –∑—Ä–æ–∑—É–º—ñ—Ç–∏ —Ä—ñ–≤–µ–Ω—å –∑–∞–¥–æ–≤–æ–ª–µ–Ω–æ—Å—Ç—ñ –∫–ª—ñ—î–Ω—Ç—ñ–≤ (–≤ –∑–∞–ª–µ–∂–Ω–æ—Å—Ç—ñ –≤—ñ–¥ —ó—Ö –≥–µ–Ω–¥–µ—Ä—É —Ç–∞ —Ç–∏–ø—É) —Ç–∞ –∑–∞ –ø–æ—Ç—Ä–µ–±–∏ –≤–ø–ª–∏–Ω—É—Ç–∏ –Ω–∞ —Ü—ñ –ø–æ–∫–∞–∑–Ω–∏–∫–∏, —à–ª—è—Ö–æ–º –≤–∏—è–≤–ª–µ–Ω–Ω—è —ó—Ö —Å–∏—Å—Ç–µ–º–Ω–æ—Å—Ç—ñ. –ù–∞–ø—Ä–∏–∫–ª–∞–¥, –º–æ–∂–ª–∏–≤–æ –ø–æ–∫–∞–∑–Ω–∏–∫–∏ –º–æ–∂—É—Ç—å –±—É—Ç–∏ –Ω–∏–∑—å–∫–∏–º–∏ —á–µ—Ä–µ–∑ –Ω–µ–∑–∞–¥–æ–≤—ñ–ª—å–Ω–µ –æ–±—Å–ª—É–≥–æ–≤—É–≤–∞–Ω–Ω—è –∫–ª—ñ—î–Ω—Ç—ñ–≤.  –ó–≤—ñ—Å–Ω–æ, –¥–ª—è —Ç–æ—á–Ω–æ—ó –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –ø–æ—Ç—Ä—ñ–±–Ω–æ –±—É–¥–µ –ø—Ä–æ–≤–æ–¥–∏—Ç–∏ –±—ñ–ª—å—à –¥–µ—Ç–∞–ª—å–Ω–∏–π –∞–Ω–∞–ª—ñ–∑, –∞–¥–∂–µ —Å–µ—Ä–µ–¥–Ω—ñ –ø–æ–∫–∞–∑–Ω–∏–∫–∏ –Ω–µ –¥—É–∂–µ —ñ–Ω—Ñ–æ—Ä–º–∞—Ç–∏–≤–Ω—ñ üòâ.